
.aymenakrouti img{width: 10rem; border-radius: 50rem;
    margin-bottom:2rem;
    margin-top:2rem ;
}

.aymenakrouti{background-color: rgb(247, 220, 220)
    ;margin:auto 
    ;text-align: center;
 height: 100rem;


}

.aymenakrouti button { color: #ffffff ;background-color: red;
border-radius: 1rem;
width:5rem;
height:3rem ;
border: 0.1rem;
margin-top:5rem;

}